@media Print  {
  .noPrint {
	 display : none;
  }

  .noDisplay 
  {
	  display: block;
	  position:relative;
	  overflow:visible !important;
  }
}

@media Screen  {
  .noPrint {
	  display: block;
  }

  .noDisplay {
    display: none;
  }
}

body {
	margin-top: 0px;
	margin-right: 0px; 
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px; 
	padding-bottom: 0px;
	padding-left: 0px; 
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;

}

br {
	font-size: 12px;
	line-height: 15px;
}

td {
	font-size: 12px;
	line-height: 15px;
}

a {
	color: #003B7F;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.nav {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 15px;
	text-decoration: none;
}

.nav:hover {
	text-decoration: none;
}

.popupNav {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 15px;
	text-decoration: none;
}

.popupNav:hover {
	color: #003B7F;
	text-decoration: none;
}

.menuTxt {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #002E65;
	line-height: 15px;
	text-decoration: none;
}

.menuTxt:hover {
	color: #005EBC;
	text-decoration: none;
}

.functionTxt {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #005EBC;
	line-height: 15px;
	text-decoration: none;
}

.topNav {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #B3C5D9;
	line-height: 15px;
	text-decoration: none;
}

.topNav:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.topTitle {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 15px;
	color: #102E5F;
	font-weight: bold;
	line-height: 15px;
	text-decoration: none;
}

.content {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	text-decoration: none;
}

.titleBlue {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #003B7F;
	font-weight: bold;
	line-height: 15px;
	text-decoration: none;
}

.titleWhite {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 15px;
	text-decoration: none;
}

.brown {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #9A7100;
	line-height: 15px;
	text-decoration: none;
}

.yellow {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFF99;
	line-height: 15px;
	text-decoration: none;
}

.gold {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #D19C02;
	line-height: 15px;
	text-decoration: none;
}

.gray {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 15px;
	text-decoration: none;
}

.white {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 15px;
	text-decoration: none;
}

.select1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 12px;
	height: 20px;
	width: 150px;
	background-color: #FFFFFF;
}

.grayBar {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	padding: 4px 7px 4px 10px;
	background-color: #E5E5E5;
	border-bottom: 1px solid #9D9D9D;
}

.num {
	font-size: 11px;
}


.tableContent1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	text-decoration: none;
	border-right:#FFFFFF 1px solid;
	padding:3px 5px 3px 5px;
	background-color:#FFFFFF;
}

.tableContent2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	text-decoration: none;
	border-right:#FFFFFF 1px solid;
	padding:3px 5px 3px 5px;
	background-color:#EEEEEE;
}

.tableContent3 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	text-decoration: none;
	padding:5px 5px 5px 5px;
	background-color:#FFFFFF;
}

.tableContent4 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	text-decoration: none;
	padding:3px 5px 3px 5px;
	background-color:#E5E5E5;
}

.inputField1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	border:1px solid #B6B6B6;
	height: 20px;
	width: 65px;
}

.inputField2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 13px;
	border:1px solid #B6B6B6;
	height: 16px;
	width: 40px;
}

.inputField3 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 13px;
	border:1px solid #B6B6B6;
	height: 16px;
	width: 13px;
}

.inputField4 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	border:1px solid #B6B6B6;
	height: 16px;
	width: 307px;
}

.slip_nav {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	letter-spacing: -1px;
	line-height: 15px;
	text-decoration: none;
}

.slip_nav:hover {
	color: #003B7F;
	text-decoration: none;
}

.tdGray {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	background-color: #EEEEEE;
	padding:9px 9px 9px 9px;
	border-right: 1px solid #FFFFFF;
}

.tdWhite {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	background-color: #FFFFFF;
	padding:9px 9px 9px 9px;
	border-right: 1px solid #FFFFFF;
}

.important {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #67010E;
	line-height: 15px;
	text-decoration: none;
}

.brown2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #66020E;
	line-height: 15px;
	text-decoration: none;
}

.brown3 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #852E0B;
	line-height: 15px;
	text-decoration: none;
}

.green {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #5C5529;
	line-height: 15px;
	text-decoration: none;
}

.red {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC0000;
	line-height: 15px;
	text-decoration: none;
}

.topTitleBar {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 15px;
	padding: 4px 5px 4px 5px;
	background-color: #003B7F;
	height: 23px;
}

.subTitleBar {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #003B7F;
	line-height: 15px;
	padding: 2px 5px 2px 5px;
	background-color: #D9E2EC;
}

.yellowBar {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	height:23px;
	vertical-align:middle;
	padding: 0px 5px 0px 5px;
	background-color: #FFF4B0;
}

.select {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 12px;
	height: 20px;
	background-color: #FFFFFF;
}

.tableContentHead {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	text-decoration: none;
	padding:5px 1px 5px 1px;
	background-color:#FFFFFF;
	border-bottom:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
}

.tableContent5 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	text-decoration: none;
	border-right:#FFFFFF 1px solid;
	padding:3px 1px 3px 1px;
	background-color:#FFFFFF;
}

.tableContent6 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	text-decoration: none;
	border-right:#FFFFFF 1px solid;
	padding:3px 1px 3px 1px;
	background-color:#EEEEEE;
}

.grayBg {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	text-decoration: none;
	background-color: #EEEEEE;
}

.tdL {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	text-decoration: none;
	padding: 5px 5px 5px 15px;
}

.tdR {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	text-decoration: none;
	padding: 5px 15px 5px 5px;
	border-right: 1px solid #CCCCCC;
	text-align: right;
}

.textLink {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #003B7F;
	line-height: 15px;
	text-decoration: none;
}